html, body { margin: 0; padding: 0; }

html
{
    font-size: 100%;
}

@font-face {
    font-family: 'HelveticaBoldCond';
    src: url('fonts/helveticaltstd-boldcond-webfont.eot');
    src: local('☺'),
         url('fonts/helveticaltstd-boldcond-webfont.woff') format('woff'),
         url('fonts/helveticaltstd-boldcond-webfont.ttf') format('truetype'),
         url('fonts/helveticaltstd-boldcond-webfont.svg#webfontRihkWhUD') format('svg');
    font-weight: normal;
    font-style: normal;
}


body
{
    font: .75em/1.5 Arial, sans-serif;
    background-color: #121517;
    color: #757777;
}

body.wide
{
    background: #121517 url("images/background.png") fixed no-repeat 38% 0;
}

h1, h2, h3, dd
{
    font-family: "HelveticaBoldCond", Helvetica, Arial, sans-serif;
}

h1
{
    font-weight: normal;
}

h1, h2
{
    font-size: 1.83em;
    color: #ffc108;
}

h2
{
    border-bottom: 1px solid #5e3c14;
    line-height: 1em;
}

h3
{
    color: #ff8a02;
    font-size: 1.25em;
    line-height: 26px;
    text-transform: uppercase;
}

dt
{
    line-height: 26px;
    border-right: 1px solid #412c13;
    float: left;
    clear: left;
}

header dt
{
    width: 43px;
    padding-right: 7px;
    text-align: right;
}

header dd
{
    color: #ff8a02;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    padding-left: 9px;
    float: left;
    margin: 0;
}

*+html header dd { width: 400px; }

#page
{
    margin: 0 auto;
    position: relative;
}

.wide #page
{
    width: 360px;
    padding-left: 620px;
}

footer, header, nav, section
{
    display: block;
}

a, .action
{
    color: #ffc108;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

.action:hover, nav a:hover
{
    text-decoration: none;
}

.wide header,
.wide #social
{
    position: fixed;
    left: 50%;
    width: 620px;
    margin-left: -470px;
}

header
{
    top: 0;
}

header h1
{
    width: 386px;
    height: 127px;
    background: transparent url('images/sprite.png') no-repeat 0 0;
    text-indent: -1000em;
    overflow: hidden;
}

nav
{
    padding-top: 20px;
    clear: both;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    border-bottom: 1px solid #5a3811;
    font-size: 10px;
}

nav li
{
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 35px;
}

nav .last
{
    margin-right: 0;
}

nav a
{
    color: #ff8a02;
    text-decoration: none;
}

nav a:hover
{
    color: #ffc108;
}

h2
{
    text-transform: uppercase;
}

#about h1
{
    margin-top: 70px;
}

footer
{
    font-size: 10px;
}

.icon,
.contact .url
{
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 23px;
    height: 22px;
    background-image: url('images/sprite.png');
}

.mail { background-position: 0 -127px; }
.calendar { background-position: -23px -127px; }
.twitter { background-position: -46px -127px; }
.facebook { background-position: -69px -127px; }
.blog { background-position: -92px -127px; }
a:hover .mail { background-position: 0 -149px; }
a:hover .calendar { background-position: -23px -149px; }
a:hover .twitter  , a.twitter:hover{ background-position: -46px -149px; }
a:hover .facebook { background-position: -69px -149px; }
a:hover .blog , a.blog:hover{ background-position: -92px -149px; }

#social,
.wide #social
{
    top: 300px;
    padding-left: 50px;
    width: 240px;
}

#social .action,
#tweets
{
    border-bottom: 1px solid #5e3c14;
    padding-bottom: 5px;
    display: block;
}

.action .icon
{
    margin-right: 5px;
}

#tweets
{
    font-size: 11px;
    overflow: hidden;
    height: 270px;
    margin-bottom: 9px;
}

.action
{
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.tweet_list
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tweet_list li
{
    margin-top: 1.5em;
}

.tweet_time a
{
    color: #ff8a02;
}

#attending
{
    margin-top: 50px;
}

#attending dt
{
    width: 114px;
    height: 78px;
}

#attending dd
{
    margin: 0 0 0 155px;
}

#attending a
{
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #212223;
    text-align: center;
    width: 190px;
    padding: 2px 0 0;
    height: 30px;
    background-color: #ff8a02;
    display: block;
    margin-bottom: 14px;
    position: relative;
    line-height: 32px;
}

#attending a:hover
{
	background-color: #ffc108;
}

#attending .icon
{
    position: absolute;
    top: 50%;
    left: 0;
    margin: -11px 0 0 -30px;
}

#speakers
{
    margin: 50px 0;
}

#speakers-list
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.vcard
{
    width: 151px;
    height: 257px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    margin-right: 50px;
}

.odd
{
    margin-right: 0;
}

.fn
{
    color: #ffc108;
    font-size: 14px;
    line-height: 26px;
}

.contact
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 80px;
    right: 0;
}

.contact li
{
    margin-top: 7px;
}

.contact .url
{
    text-indent: -1000em;
    outline: 0;
}

#lectures
{
    margin: 0 0 4em;
    padding: 0;
    list-style-type: none;
}

h3
{
    margin: 0;
}

#lectures p
{
    margin: .5em 0 2em;
}

#sponsored-by
{
    bottom: 0;
    color: #ff8a02;
    text-transform: uppercase;
    height: 93px;
}

.wide #sponsored-by
{
    position: fixed;
    left: 50%;
    width: 620px;
    margin-left: -470px;
}

#sponsored-by a
{
    display: block;
    margin-top: 10px;
    width: 141px;
    height: 48px;
}

#sponsored-by img
{
    border: 0;
}

#social-links
{
    margin: 1em 0 .3em;
}

#copyright
{
    color: #ff8a02;
    border-top: 1px solid #5a3811;
    margin: .3em 0 1em;
}